body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 95%);
}

form {
  background-color: hsl(0, 0%, 100);
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px hsl(0, 0%, 0%, 0.5);
}
#textBox {
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid hsla(0, 0%, 0%, 0.8);
  border-radius: 4px;
  margin-bottom: 15px;
}
label {
  font-size: 1.5;
  font-weight: bold;
}
button {
  margin-top: 15px;
  background: hsl(0, 100%, 60%);
  font-size: 1.5em;
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
  color: white;
}
button :hover {
  background-color: hsl(0, 100%, 50%);
}
h1 {
  color: hsl(223, 100%, 64);
}
#result {
  font-size: 1.75em;
  font-weight: bold;
}
@media (max-width: 600px) {
  form {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 15px;
  }
  .input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .input-1 {
    display: flex;
    flex-direction: row;
  }
  .input-2 {
    display: flex;
    flex-direction: row;
  }

  #textBox {
    width: 80%;
    font-size: 1.5em;
  }

  button {
    width: 80%;
    font-size: 1.1em;
  }

  h1 {
    font-size: 1.5em;
  }

  label {
    font-size: 1em;
  }

  #result {
    font-size: 1.3em;
  }
}
